<header>
  <div id="logo">
    <div id="logo_text">
      <!-- class="logo_colour", allows you to change the colour of the text -->
      <h1><a href="index.html">Blog of <span class="logo_colour">Oliver</span></a></h1>
      <h2>Ha  ha  I  am  here !</h2>
    </div>
  </div>
  <nav>
    <div id="menu_container">
      <ul class="sf-menu" id="nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Archives</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </nav>
</header>