<div id="sidebar_container">

    <div class="bio" data-twttr-id="twttr-sandbox-0">
        <div class="illustration">
            <img src="/static/images/head.png" width="150px" alt="laike9m">
        </div>
        <h2 class='intro'>Hi, I'm Oliver</h2>
        <div class="clear"></div>
        <p class="intro">
            Graduate student of
            <a href="http://zju.edu.cn/">
                <strong>Institute of Computing Science of Zhejiang University</strong>
            </a>
            , <strong>free Software developer</strong>
            , <strong>nijikon</strong>, crazy <strong>Atlético Madrid supporter</strong>
        </p>
        <p class="intro">
            Mainly use <strong><a href="http://python.org">Python</a></strong>
            for my own projects (including <em>this <strong>Django</strong> site</em>),
            and Java for work. Trying to master Scala.
        </p>


        <div id="classification">
            <h2 style="font-size:18px; color: #333333">Classification</h2>
            <ul>
                <li>
                    <a href="#" target="_blank">sb1</a>
                </li>
                <li>
                    <a href="#" target="_blank">sb1</a>
                </li>
                <li>
                    <a href="#" target="_blank">sb1</a>
                </li>
            </ul>
        </div>
    </div>

</div>