<!DOCTYPE html>
<html>

  {% include head.html %}

  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="/static/js/bootstrap.min.js"></script>


  <body>
  <div id="main">

    {% include header.html %}

    <div id="site_content">

    {% include sidebar.html %}


      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>






    </div>


    <div id="scroll">
      <a title="Scroll to the top" class="top" href="#"><img src="/static/images/top.png" alt="top" /></a>
    </div>

    {% include footer.html %}



    <!--&lt;!&ndash; javascript at the bottom for fast page loading &ndash;&gt;-->
    <!--&lt;!&ndash;<script type="text/javascript" src="/static/js/jquery.js"></script>&ndash;&gt;-->
    <!--&lt;!&ndash;<script type="text/javascript" src="/static/js/jquery.easing-sooper.js"></script>&ndash;&gt;-->
    <!--<script type="text/javascript" src="/static/js/jquery.sooperfish.js"></script>-->
    <!--&lt;!&ndash;<script type="text/javascript" src="/static/js/modernizr-1.5.min.js"></script>&ndash;&gt;-->


    <!--<script type="text/javascript">-->
      <!--$(document).ready(function() {-->
        <!--$('ul.sf-menu').sooperfish();-->
        <!--$('.top').click(function() {$('html, body').animate({scrollTop:0}, 'fast'); return false;});-->
      <!--});-->
    <!--</script>-->



    </div>
  </body>

</html>
